@model tezt.Models.AuctionItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AuctionItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AuctionItemId" />
            <div class="form-group">
                <label asp-for="AuctionItemName" class="control-label"></label>
                <input asp-for="AuctionItemName" class="form-control" />
                <span asp-validation-for="AuctionItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuctionItemDescription" class="control-label"></label>
                <input asp-for="AuctionItemDescription" class="form-control" />
                <span asp-validation-for="AuctionItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decade" class="control-label"></label>
                <input asp-for="Decade" class="form-control" />
                <span asp-validation-for="Decade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EditItem">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
