@{
    ViewData["Title"] = "Home Page";
}
<style>
    p{
        color: black;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to the first version of the website GG </h1>
    <p>As a guest you only have access to the home page and the inventory page </p>
    <p>All available auction items will be listed on the inventory page </p>
    <p>Get access to the add/edit pages by creating a new account on the register link</p>
    
</div>
